/* .top-main-ps{
    font-family: 'Spectral', serif;

}

.top-main-ps h1{
    padding-top: 20px;
    
}

.top-main-ps .markdown-js p,h2,h3,h4{
    padding-top: 10px;
    padding-bottom: 10px;
    

}

.top-main-ps .markdown-js em{
    background-color: rgb(202, 198, 198);

}

.top-main-ps .markdown-js pre{
    padding: 0px;
    padding-top: 0px;
    margin: 0px;
}

.top-main-ps .markdown-js .code-main{
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
.top-main-ps .markdown-js p,h1,h3,h4{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Spectral', serif;

}
.top-main-ps .markdown-js em{
    background-color: rgb(202, 198, 198);

}

.top-main-ps .markdown-js pre{
    padding: 0px;
    padding-top: 0px;
    margin: 0px;
}

.top-main-ps .markdown-js .code-main{
    padding-top: 20px;
}
} */